body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;  /* Ajuste a largura conforme necessário */
    height: 100%;
    background-color: #007bff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#menu a {
    color: #fff;
    text-decoration: none;
    margin: 1vw;  /* Ajuste a margem conforme necessário */
    padding: 1.5vw;  /* Ajuste o preenchimento conforme necessário */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.5em;  /* Ajuste o tamanho da fonte conforme necessário */
}

#content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2vw;  /* Ajuste o preenchimento conforme necessário */
    max-width: 800px;
}

h1 {
    color: #333;
    font-size: 2.5em;  /* Ajuste o tamanho da fonte conforme necessário */
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 1.5vw;  /* Ajuste o preenchimento conforme necessário */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.2em;  /* Ajuste o tamanho da fonte conforme necessário */
}

@media (max-width: 768px) {
    #menu {
        display: none;  /* Oculta o menu em telas menores */
    }

    #content {
        width: 100%;  /* Ajuste a largura conforme necessário */
        margin-left: 0;
    }
}
